extends layout

block content
  div#server-notes
    h4 Dungeon Information
    p Dungeons are automatically scaled to party size from 1 to 5 players
    p Enemy health and damage will be scaled down to allow smaller parties to complete the dungeon. Elite mobs outside of dungeon entrances will not be scaled, so entrance may be difficult
    p Larger parties will get increased loot and experience
    p This only applies to 5 man dungeons, and not raids
    p Perma death still applies when inside a dungeon either solo or in a party. So be careful
    h4 Tier 1 -  Blackrock Depths
    p The first tier of dungeon progression is Blackrock Depths
    p Since the quest to get the key requires being a ghost and talking to the quest giver, the shadowforge key now has a high chance to drop from Overmaster Pyron outside the dungeon
    p Bosses in Blackrock Depths will drop tier 1 (MC) set pieces
    p Emperor Dagran Thaurissan has a chance to drop the legendary mace Sulfuras
    p He will also drop a unique trinket to allow progression to the next tier
    h4 Tier 2 - Stratholme
    p The second tier of dungeon progression is Stratholme
    p Bosses in Stratholme will drop tier 2 (BWL) set pieces
    p Baron Rivendare has a chance to drop the legendary sword Ashbringer
    p He will also drop a unique trinket to allow progression to the next tier
    h4 Tier 2.5 - Dire Maul
    p The third tier of dungeon progression is Dire Maul
    p Bosses in Dire Maul will drop tier 2.5 (AQ40) set pieces
    p Prince Tortheldrin in dire maul has a chance to drop the legendary sword Thunderfury
    p He will also drop a unique trinket to allow progression to the next tier
    h4 Tier 3 - Scholomance
    p The fourth tier of dungeon progression is Scholomance
    p Bosses in Scholomance will drop tier 3 (Naxx) set pieces
    p Darkmaster Gandling has a chance to drop all 4 versions of the legendary staff Atiesh
    h4 Low level dungeons
    p Low level dungeons also scale to solo play and can be a good source of loot
    p Some low level dungeon bosses have a chance to drop legendary versions of items they would normally drop