#leaderboard a {
    margin-right:10px;
    margin-bottom: 15px;
    padding:5px;
    cursor: pointer;
    float:left;
}

#leaderboard a.selected {
    background:#339;
    color:#fff;
}

#leaderboard a:hover {
    background:#339;
}

#leaderboard hr {
    color: #ccc;
    background: #ccc;
    height: 1px;
    border: none;
    margin-top: 15px;
    clear:both;
}