html {
  background-image: url('/images/graveyard.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:#ccc;
  max-width: 1024px;
  margin: 5px auto;
}
p {text-align: left;}
div.column {text-align: center;}
h1 {
  text-align: center;
  text-shadow: 5px 5px rgb(10,10,20);
  font-family: serif;
  font-size: 3em;
}
h4 {
  margin: 15px 0;
  border-bottom:1px solid;
}
#leaderboard, #server-notes {
  clear: both;
  background: rgba(10,10,20,0.7);
  margin: 15px 0;
  padding: 5px 15px 15px 15px;
}
a {color: #00B7FF;}
a.link {margin-right: 15px;}
td.dead {color:#cc6666;}
td.alive {color:#66cc66;}
span.online {
  background:#66cc66;
  border-radius: 50%;
  width:15px;
  height:15px;
  display: inline-block;
  margin-left: 10px;
}
form#createaccount {
  display: inline-block;
  text-align: center;
  padding:30px;
  width:320px;
}
#createaccount label {
  display: block;
  text-align: left;
  margin: 10px 0 0 0;
}
#createaccount input {
  margin:0 0 15px 0;
  font-size: 20px;
  padding:5px;
  display: block;
  width: calc(100% - 14px);
}
#createaccount strong, #createaccount button {margin: 10px 0;display: block;}
#createaccount button {font-size: 20px;margin:auto;width:50%;padding:5px;}
ul > li {margin: 5px 0;}
table th, table td {
  text-align: left;
  padding: 5px 15px 5px 0;
}
@media only screen and (min-width: 768px) {
  div.column {
    float:left;
    width:calc(50% - 15px);
    padding-left:15px;
  }
}
@media only screen and (max-width: 768px) {
  body {padding: 10px;}
  #leaderboard, #server-notes {margin:15px -10px !important;}
}