html {
  background-image: url('/images/graveyard.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}


body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:#ccc;
  max-width: 1024px;
  margin: 5px auto;
}

@media only screen and (max-width: 768px) {
  body {
    padding: 5px;
  }
}

@media only screen and (min-width: 768px) {
  div.column {
    float:left;
    width:calc(50% - 15px);
    padding-left:15px;
  }
}

h1 {
  text-align: center;
  font-size: 2.5em;
}


a {
  color: #00B7FF;
}
a.link {
  margin-right: 15px;
}

form#createaccount {
  text-align: center;
  padding:30px;
}

#createaccount h4 {
  display: inline;
}

#createaccount input {
  margin:15px 0;
  font-size: 20px;
  padding:5px;
}

#createaccount strong, #createaccount button {
  margin: 10px 0;
}

#createaccount button {
  font-size: 20px;
}

.hidden {
  display:none;
}

ul > li {
  margin: 5px 0;
}

table {
  background: rgba(0,0,0,0.5);
  padding: 5px 15px;
  margin: 15px 0;
}

table th, table td {
  text-align: left;
  padding: 5px 15px 5px 0;
}

#server-notes {
  clear: both;
  background: rgba(0,0,0,0.5);
  padding: 5px 15px;
  margin: 15px 0;
}